


		<div class="container5">

			<nav id="sidebar">
	<div class ="bar">
				<ul>

					<li><a href="http://willportfolio.herokuapp.com/" class="fa fa-home " target="_self">
							<span>Home</span>
						</a>
					</li>

					<li><a href="#section-one" class="fa fa-user-plus" target="_self">
							<span>About Me</span>
						</a>
					</li>

					<li>
						<a href="#section-two" class="fa fa-file-text-o" target="_self">
							<span>My Work</span>
						</a>
					</li>

					<li>
						<a href="#section-three" class="fa fa-envelope-o" target="_self">
							<span>Contact Me</span>
						</a>
					</li>
	        <li>

	          <a href="http://willportfolio.herokuapp.com/pages/blog" class="fa fa-bold "  target="_blank">
	            <span>My Blog</span>
	          </a>
	        </li>
				</ul>
	</div>
			</nav>



		</div>
