<!-- <div class="container-fluid" style="background-color:#2196F3;color:#fff;height:200px;">
  <h1>William Chow</h1>
  <h3>Some random text</h3>
  <p>maybe i will get rid of this top banner</p>
  <p><strong>at least i got the sidebar working</strong></p>
</div>
<br> -->

<!-- <div class="container"> -->
    <!-- <div class="row"> -->
<!-- <nav class="col-md-2"> -->
  <!-- it was col-sm-2 before -->

        <ul class="nav nav-pills nav-stacked" data-spy="affix">
          <!-- <img src="headshot.png" width="175px" height="160px" class= "img-circle"/> -->
          <!-- id="logo" /> -->
          <!-- <%=image_tag("headshot.png" ,:size => "175x160",:class=>"img-circle")%> -->

          <li class="active"><a href="#section1"><i class="fa fa-user-plus fa-4x" aria-hidden="true"></i><br/>About Me</a></li>
          <li><a href="#section2"><i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i><br/>My Work</a></li>
          <li><a href="#section3"><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i><br/>Contact Me</a></li>
            <li><a href="#section4"><i class="fa fa-bold fa-4x" aria-hidden="true"></i><br/>My Blog</a></li>
        </ul>
  <!-- </nav>
</div> -->
