

<video poster="http://i1320.photobucket.com/albums/u525/williamch11/poster_zpsvw345uv0.jpg" id="bgvid" playsinline autoplay muted loop="loop">
 <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
 <!-- <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm"> -->
 <!-- <source src="http://vid1320.photobucket.com/albums/u525/williamch11/video4site_zps6n1jndgs.mp4" type="video/ogg"> -->
 
<source src="http://vid1320.photobucket.com/albums/u525/williamch11/video4site_zps6n1jndgs.mp4" type="video/mp4">

</video>
<div id="william">
  <div class = "video2">
<h1 align="center">I'M WILLIAM CHOW</h1>
<h2 align="center">FULL STACK WEB DEVELOPER, BUSINESS GRADUATE AND TOTALLY AWESOME</h2>
<h3 align="center"><%= link_to 'Enter Site' , pages_portfolio_path,:class => 'btn-group btn-group-lg'%></h3>
<!-- # <%= link_to 'Enter Site' , pages_portfolio_path,:class => 'btn btn-danger'%></div> -->
</div>

<!-- <button>Pause</button> -->
</div>
