  /*.mystyle{

  height:100vh;
  width: 100vw;
  }*/
  #rig {
      max-width:9000px;
      margin:0 auto; /*center aligned*/
      padding:0;
      font-size:0; /* Remember to change it back to normal font size if have captions */
      list-style:none;
      background-color:#000;
  }
  #rig li {
      display: inline-block;
      *display:inline;/*for IE6 - IE7*/
      width:25%;
      vertical-align:middle;
      box-sizing:border-box;
      margin:0;
      padding:0;
  }

  /* The wrapper for each item */
  .rig-cell {
      /*margin:12px;
      box-shadow:0 0 6px rgba(0,0,0,0.3);*/
      display:block;
      position: relative;
      overflow:hidden;
  }

  /* If have the image layer */
  .rig-img {
      display:block;
      width: 100%;
      height: auto;
      border:none;
      transform:scale(1);
      transition:all 1s;
  }

  #rig li:hover .rig-img {
      transform:scale(1.05);
  }

  /* If have the overlay layer */
  .rig-overlay {
      position: absolute;
      display:block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      background: #3DC0F1 no-repeat center 20%;
      background-size:50px 50px;
      opacity:0;
      filter:alpha(opacity=0);/*For IE6 - IE8*/
      transition:all 0.6s;
  }
  #rig li:hover .rig-overlay {
      opacity:0.8;
  }


  /* If have captions */
  .rig-text {
      display:block;
      padding:0 30px;
      box-sizing:border-box;
      position:absolute;
      left:0;
      width:100%;
      text-align:center;
      text-transform:capitalize;
      font-size:18px;
      font-weight:bold;
      font-family: 'Oswald', sans-serif;
      font-weight:normal!important;
      top:40%;
      color:white;
      opacity:0;
      filter:alpha(opacity=0);/*For older IE*/
      transform:translateY(-20px);
      transition:all .3s;
  }
  #rig li:hover .rig-text {
      transform:translateY(0px);
      opacity:0.9;
  }
  /*div.image {
    background: url("https://images2.alphacoders.com/747/74712.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }*/


  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
      top: 100px;

  }



  .section1 {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
  }
  #wrapper, img{
      width:100%;
      height: 100%;
  }
  /*.fa {
    color: #000 !important;
  }*/

  /* background setup */
  .background {
      background-repeat:no-repeat;
      /* custom background-position */
      background-position:50% 50%;
      /* ie8- graceful degradation */
      background-position:50% 50%\9 !important;
  }

  /* fullscreen setup */
   html, body {

      height:100%;
  }
  .fullscreen,
  .content-a {
      width:100%;
      height:100%;
      overflow:hidden;
  }
  .fullscreen.overflow,
  .fullscreen.overflow .content-a {
      height:auto;
      min-height:100%;
  }

  /* content centering styles */
  .content-a {
  	display:table;
  }
  .content-b {
  	display:table-cell;
      position:relative;
  	vertical-align:middle;
  	text-align:center;
  }

  .content-c {
  	display:table-cell;
      position:relative;
  	// vertical-align:middle;
  	text-align:center;
  }



  /* visual styles */
  #portfolio body{
      margin:0;
      font-family:sans-serif;
      font-size:28px;
      line-height:100px;
  	   color:#ffffff;
      text-align:center;
  }
  #portfolio section {
  	background:#9ed100;
  }
  .not-fullscreen {
      height:50%;
  }

  #home body {
    margin: 0;
    background: #000;
  }
  video {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
      background-size: cover;
      transition: 1s opacity;
  }
  .stopfade {
     opacity: .5;
  }

  #william {
  font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight:100;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 2rem;
    width: 33%;
    margin:2rem;
    float: right;
    font-size: 1.2rem;
  }
  .video2 h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
  }
  /*#william button {
    display: block;
    width: 80%;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
  }*/
  /*#william button:hover {
     background: rgba(0,0,0,0.5);
  }*/

  .video2 a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background:rgba(0,0,0,0.5);
    padding: .5rem;
    transition: .6s background;
  }
  .video2 a:hover{
    background:rgba(0,0,0,0.9);

  }
   @media screen and (max-width: 500px) {
    div{width:70%;}
  }
  //  @media screen and (max-device-width: 800px) {
  //   html { background: url(//http://i1320.photobucket.com/albums/u525/williamch11/poster_zpsvw345uv0.jpg) #000
  //      no-repeat center center fixed; }
  //   // #bgvid { display: none; }
  // }

  /*FONT PAIRING SUGGESTION*/
  .mywork *{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

  }
  .mywork p{
    font-family: 'Open Sans', sans-serif;
  }

  .aboutme {
    font-family: 'Montserrat', sans-serif;
  }

  .col-md-8 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }

  .contactheading {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
  }

  .contactheading2{
    font-family: 'Montserrat', sans-serif;
  }
  .mydescription {
    font-size: 25px;
  }

  /*YOUR CSS*/
  #buttons2 * {
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }

  #buttons2 {
  	max-width:1100px;
  	margin:auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }

  .butFrame {
    cursor: pointer;
    width: 24.5%;
    overflow: hidden;
    position: relative;
  }

  .butFrame.medium {
    width: 29.5%;
  }

  .butFrame.large {
    width: 70%;
  }

  .butFrame:nth-child(-n+2) {
    margin-bottom: 0px;
  }

  .butFrame img {
    width: 100%;
    height: auto;
    display: block;
  }

  .butText {
    position: absolute;
    cursor: pointer;
    color: #fff;
    font-size: 1.3em;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
  /*  text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);*/
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .butText span {
    border: 2px solid #fff;
    padding: 10px 25px;
  }

  .butText .introHeading {
    font-size: 1.5em;
    font-family: inherit;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 15px;
    border: 0px;
  }

  .intro-text {
    font-family: inherit;
    font-size: 1.1em;
    line-height:1.5em;
    text-transform: none;
    padding: 0 50px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .intro-text p {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .butText a {
    font-size: 1em;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 15px;
  }

  .butFrame .butText {
     background: rgba(0,0,0,0.3);
  }

  /* Hover Effects */

  .butFrame .butText:hover {
     background: rgba(0,0,0,0.75);
  }

  @media all and (max-width: 950px) and (min-width: 701px){}
  .butFrame.large {
      width: 69%;
  }


  .butText {
    font-size:1em;
  }

  .intro-text {
    font-size: 0.8em;
    line-height:1.1rem;
    padding: 0 30px;
  }
  // }
  //
  @media all and (max-width: 700px){}
  #buttons2 {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .butFrame, .butFrame.medium {
    margin-bottom: 0px;
    overflow: hidden;
    width: 49.5%;
    display: inline-block;
  }

  .butFrame.large, .butFrame.medium {
    margin-bottom: 0px;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    max-height:150px;
  }

  .butFrame .butText span {
    font-size:0.8em;
    padding:10px;
  }

  .butFrame.large {
    min-height:280px !important;
  }

  .butFrame.large .butText {
   font-size:0.9em;
    line-height:1.3em;
    padding:20px;
  }

  .butFrame.large .butText span {
    font-size:1.2em;
  }

  .butFrame img {
    display:block;
  }

  $green: #2ea994;
  .modal-body body {
    font-family: 'Lato', Arial, sans-serif;
    background: #13171b;
    color: white;
    text-align: center;
  }

  .modal-body h1 {
      font-size: 30px;
  }


  .skills {
    list-style: none;
    font-size: 20px;
    padding: 0;
    .skill {
      display: block;
  			    position: relative; // For positioning bar pseudo elements
  			    height: 60px;
  			    margin: 10px auto;
      width: 90%;
      @media only screen and (min-width: 900px) {
        display: inline-block;
  			      width: percentage(1/4);
        margin: 10px;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        border-radius: 20px;
        margin-top: 40px;
      }
      &:before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 20px;
        background: #eeeeee;
      }
      &:after {
        background-color: $green;
        background: repeating-linear-gradient(-45deg, $green, $green 10px, lighten($green, 3) 10px, lighten($green, 3) 20px);
        height: 16px;
        top: 2px;
        right: 95%;
        bottom: 2px;
        left: 2px;
        @include animation(fill 2s both);
      }
      @for $i from 1 through 5 {
        					&:nth-child(#{$i}):after {
            @include animation-delay(#{$i * 0.5}s);
        }
  				    }
      &[aria-label="novice"]:after {
        right: 75%;
      }
      &[aria-label="average"]:after {
        right: 50%;
      }
      &[aria-label="adept"]:after {
        right: 35%;
      }
      &[aria-label="advanced"]:after {
        right: 20%;
      }
      &[aria-label="elite"]:after {
        right: 10%;
      }
      &[aria-label="pro"]:after {
        right: 2px;
      }
      &[aria-label="l33tasuar"]:after {
        // turn it up to 11!
        right: -10%;
      }
    }
  }





  // @import url(http://weloveiconfonts.com/api/?family=entypo);

  [class*="entypo-"]:before {
  	font-family: 'entypo', sans-serif;
  }
  #sidebar a { text-decoration: none; }

  #sidebar ul {
  	list-style: none;
  	margin: 0;
  	padding: 0;
  }

  /* ---------- CLASSES ---------- */

  .container5 {
  	margin: 0px auto;
  	width: 680px;
  }

  /* ---------- Social Sidebar ---------- */

  #sidebar {
  	left: 0;
  	margin-top: -75px; /* (li * a:width) / -2 */
  	position: fixed;
  	top: 50%;
  }

  #sidebar li:first-child a { border-radius: 0 5px 0 0; }
  #sidebar li:last-child a { border-radius: 0 0 5px 0; }

  #sidebar a {
  	background: #121212;
  	color: #fff;
  	display: block;
  	height: 50px;
  	font-size: 18px;
  	line-height: 50px;
  	position: relative;
  	text-align: center;
  	width: 50px;
  }

  #sidebar a:hover span {
  	left: 130%;
  	opacity: 1;
  }

  #sidebar a span {
  	border-radius: 3px;
  	line-height: 24px;
  	left: -100%;
  	margin-top: -16px;
  	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
  	opacity: 0;
  	padding: 4px 8px;
  	position: absolute;
  	-webkit-transition: opacity .3s, left .4s;
  	-moz-transition: opacity .3s, left .4s;
  	-ms-transition: opacity .3s, left .4s;
  	-o-transition: opacity .3s, left .4s;
  	transition: opacity .3s, left .4s;
  	top: 50%;
    white-space: nowrap;
  	z-index: -1;
  }

  #sidebar a span:before {
  	content: "";
  	display: block;
  	height: 8px;
  	left: -4px;
  	margin-top: -4px;
  	position: absolute;
  	top: 50%;
  	-webkit-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
  	-ms-transform: rotate(45deg);
  	-o-transform: rotate(45deg);
  	transform: rotate(45deg);
  	width: 8px;
  	z-index: -2;
  }


  #sidebar a[class*="fa fa-home"]:hover,
  #sidebar a[class*="fa fa-home"] span,
  #sidebar a[class*="fa fa-home"] span:before { background: #00aced; }

  #sidebar a[class*="fa fa-user-plus"]:hover,
  #sidebar a[class*="fa fa-user-plus"] span,
  #sidebar a[class*="fa fa-user-plus"] span:before { background: #00aced; }

  #sidebar a[class*="fa fa-file-text-o"]:hover,
  #sidebar a[class*="fa fa-file-text-o"] span,
  #sidebar a[class*="fa fa-file-text-o"] span:before { background: #ea4c89; }

  #sidebar a[class*="fa fa-envelope-o"]:hover,
  #sidebar a[class*="fa fa-envelope-o"] span,
  #sidebar a[class*="fa fa-envelope-o"] span:before { background: #1769ff; }

  #sidebar a[class*="fa fa-bold"]:hover,
  #sidebar a[class*="fa fa-bold"] span,
  #sidebar a[class*="fa fa-bold"] span:before { background: #1769ff; }


  // #main-nav {
  //   position: absolute;
  //   width: 100%;
  //   background: #bbb;
  //   z-index: 1;
  //   height: 75px;
  //   left: 0;
  //   top: 300px;
  // }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    body {
      -webkit-transform: rotate(90deg);
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
